<nav id="journal-navigation">
  <div class="container">
    <div class="col-3 col-offset-1">
      <a href="/">Blog</a>
      <a href="/about/">About</a>
      <a href="/get-in-touch/">Get in touch</a>
    </div>
  </div>
</nav>
